#fuzzy-container:before {
    position: absolute;
    padding-top: 16px;
    padding-left: 8px;
    z-index: 20;
    font: normal 20px / 1 dashicons !important;
    content: "\f179";
    color: #000;
    speak: never;
}

#fuzzy-container {
    border: none;
    min-height: 34px;
    position: relative;
}

#fuzzy-field {
    width: 100%;
    text-indent: 26px;
    margin: 10px auto 10px auto;
}

html ul.ui-menu.ui-autocomplete.ui-front > li.ui-menu-item > div.ui-menu-item-wrapper.ui-state-active {
/ / HACK HACK this is to remember the selector for stuff in the menu
}

html ul.ui-menu.ui-autocomplete.ui-front,
#fuzzy-field.active {
    border-width: 1px;
    border-radius: 3px;
    border-color: #c22;
    min-width: 22em;
    box-shadow: 0 0 2px 2px rgb(54, 59, 63);
    background: #fff;
}

